* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    max-width: 1150px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

}

.islom_box {
    display: flex;
    background-color: #F8EDF0;
    justify-content: center;
    align-items: center;
    gap: 74px;
}

.sugar_box {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    width: 442px;
    height: 256.7050476074219px;
}

.islom_title {
    width: 349px;
    /* height: 98.2698974609375px; */
    font-family: Hind Madurai;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 111.00000000000001%;
}

.islom_text {
    width: 442px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16.04px;
    margin-bottom: 35.1px;
    color: #150101;
    opacity: 60%;
}

.islom_btn {
    width: 165px;
    height: 49.13494873046875px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border: 1px;
    background-color: #D64374;
    color: #FAFAFA;
    border-radius: 5px;

=======
    display: flex;
}

.ice_cream {
    width: 580px;
    height: 415px;
    top: 2140px;
    left: 251px;
    border-radius: 10px;

}

.title {
    font-family: 'Hind Madurai';
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    width: 152px;
    height: 36px;
    top: 2200px;
    left: 916px;

}

.text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 454px;
    height: 67px;
    opacity: 0.7;
    top: 2247px;
    left: 916px;


}

.cost {
    font-family: "Hind Madurai";
    font-weight: 500px;
    font-size: 26px;
    line-height: 100%;

}

.buy {
    width: 165px;
    height: 49px;
    top: 2385px;
    left: 916px;
    border-radius: 5px;
    background: #D64374;
    color: #fff;

}