* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.container{
    max-width: 1150px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.intro{
    background-color: #F2CEDA;
    height: 862px;
    display: flex;
    align-items: center;
     
}
.intro_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro_left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.p{
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 10%;

}
.intro_title{
    font-size:  50px;
    line-height: 121%;
    letter-spacing: 0%;
    color: black;
}
.intro_title span{
    color: red;
}
.intro_btn{
    padding: 10px 50px;
    border-radius: 8px;
    background-color: #D23166;
    border: unset;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.intro_btn:hover{
    background-color: #fff;
    color: #D23166;
    
}
.intro_box img{
    height: 530px;
    width: 530px;
}
