@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    max-width: 1150px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background: #F2CEDA;
}

.nav {
    height: 79px;
}

.nav_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav_logo {
    background-color: unset;
}


.nav_list-link {
    text-decoration: none;
    color: #616161;

    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    transition: 0.5s;
}

.nav_list-link:hover {
    color: #D23166;
}

.nav_btn {
    width: 165px;
    height: 49px;
    border-radius: 5px;
    background: #D23166;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #FAFAFA;
    cursor: pointer;

}