* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.container {
    max-width: 1150px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}

.ice_cream {
    width: 580px;
    height: 415px;
    top: 2140px;
    left: 251px;
    border-radius: 10px;

}

.title {
    font-family: 'Hind Madurai';
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    width: 152px;
    height: 36px;
    top: 2200px;
    left: 916px;

}

.text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 454px;
    height: 67px;
    opacity: 0.7;
    top: 2247px;
    left: 916px;


}

.cost {
    font-family: "Hind Madurai";
    font-weight: 500px;
    font-size: 26px;
    line-height: 100%;

}

.buy {
    width: 165px;
    height: 49px;
    top: 2385px;
    left: 916px;
    border-radius: 5px;
    background: #D64374;
    color: #fff;
}